
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css"> 
    <script src="../../static/js/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    
</body>
</html>

    <aside class="sidebar">
        <div class="sidebar-header">
            <button class="toggle-btn"><img src="../../static/image/flèche.svg" alt="Dropdown Icon" width="16" height="16"></button>
            <!-- Flèche pour rétracter -->
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li><a class="Planning" href="#">PLANNING</a></li>
                <li><a class="Prestataires" href="#">PRESTATAIRES</a></li>
                <li><a class="Compte" href="#">COMPTE</a></li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <img src="../../static/image/bonhomme.svg" alt="Bonhomme Icon" width="30" height="30">
            <a href="#">UTILISATEUR</a>
        </div>
    </aside>

    
    
    