<aside class="sidebar">
    <div class="sidebar-container-content"> 
        <!-- Bouton de bascule -->
        <button class="toggle-btn">&#9776;</button>
        <nav class="sidebar-nav">
            <ul>
                <li><a class="Planning" href="{{ url_for('planning') }}">PLANNING</a></li>
                {% if current_user.role == 'user' %}
                    <li class="Prestataires"><a href="{{ url_for('historique') }}">HISTORIQUE</a></li>
                {% else %}
                    <li class="Prestataires"><a href="{{ url_for('prestataires') }}">PRESTATAIRES</a></li>
                {% endif %}
                <li><a class="Compte" href="{{ url_for('compte') }}">COMPTE</a></li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <img src="../../static/image/bonhomme.svg" alt="Bonhomme Icon" width="30" height="30">
            <a href="{{ url_for('compte') }}">UTILISATEUR</a>
        </div>
    </div>
</aside>

    
    
    