<aside class="sidebar">
    <div class="sidebar-container-content"> 
        <!-- Bouton de bascule -->
        <button class="toggle-btn">&#9776;</button>
        <nav class="sidebar-nav">
            <ul>
                <li><a class="Planning" href="#">PLANNING</a></li>
                <li class="Prestataires"><a href="#">PRESTATAIRES</a></li>
                <li><a class="Compte" href="#">COMPTE</a></li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <img src="../../static/image/bonhomme.svg" alt="Bonhomme Icon" width="30" height="30">
            <a href="#">UTILISATEUR</a>
        </div>
    </div>
</aside>

    
    
    