body {
    font-family: 'Inter', Arial;
    margin: 0;
    padding: 0;
    
}
/* Nav begin */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #142849;
    padding: 20px 20px;
}

.logo {
    align-self: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ddd;
}

.nav-right a {
    border: 1px solid white; /* Added white border */
    padding: 10px 15px; /* Added padding for better appearance */
     /* Added border radius for rounded corners */
}
/* Nav end */
/* Main begin */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background: url('/static/image/contact/fond-main.svg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


#contact-header {
    color: white;
    justify-content: center;
    margin-bottom: 20px;
}
#contact-header h1 {
    color: white;
    width: 80%; /* Adjust width to center the content */
    margin: 0 auto; /* Center the header */
}
#contact-header p {
    font-size: 20px;
    margin-right: 25%;
    margin-left: 25%;
}


#confirmation-header {
    color: white;
    justify-content: center;
    margin-bottom: 20px;
}
#confirmation-header h1 {
    color: white;
    width: 80%; /* Adjust width to center the content */
    margin: 0 auto; /* Center the header */
}
#confirmation-header p {
    font-size: 20px;
    margin-right: 25%;
    margin-left: 25%;
}


#contact-section {
    background-color: #d9d9d922;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    border
    border: 1px solid white;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Label text color */
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none; /* Remove all borders */
    border-bottom: 2px solid white; /* Add bottom border */
    background-color: transparent; /* Make input background transparent */
    color: white; /* Input text color */
}

input::placeholder, textarea::placeholder {
    color: white; /* Placeholder text color */
}

textarea {
    width: 100%; /* Set the same height as input fields */
    resize: none; /* Disable textarea resizing */
}

button {
    width: 25%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid;
    cursor: pointer;
}

button:hover {
    background-color: #a9a9a9;
}

.hidden {
    display: none;
}
/* Main end */
/* Footer begin */
footer {
    background-color: #ffffff;
    color: #142849;
    padding: 20px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    margin-bottom: 10px; /* Add some space between contact info and legal links */
}

.contact-info p {
    margin: 5px 0;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.email {
    color: #142849;
    text-decoration: underline;
}

.legal-links {
    padding: 2vh 0px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: end;
}

.legal-links a {
    color: #142849;
    text-decoration: none;
    margin: 5px 0; /* Adjust margin for better spacing */
}

.banner {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.banner-img {
    width: 100%;
    height: auto;
}

/* Footer end */

