<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'includes/header.html' %}
    <main class="main-content">
        <h2>Mon Compte</h2>
        <section class="profile-container">
            
        </section>
        <section class="reglage-container">
            <h3>Réglages</h3>
        

        </section>
</body>
</html>