<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>

    <div class="page">
        {% include 'includes/header.html' %}
        <div class="page-content">
            {% include 'includes/sidebar.html' %}
            <!-- Contenu principal -->
            <main class="container">
                <h1>Ajouter un prestataire</h1>
                <section class="form-container">
                    <h1>Informations</h1>
                    <form method="post" action="/admin/ajout/prestataires" class="form">
                        <div class="form-placement">
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input type="text" id="nom" name="nom" required value="{{ form_data.get('nom', '') }}">
                            </div>

                            <div class="form-group">
                                <label for="prenom">Prénom</label>
                                <input type="text" id="prenom" name="prenom" required value="{{ form_data.get('prenom', '') }}">
                            </div>
                        </div>
                        <div class="form-placement">
                            <div class="form-group">
                                <label for="email">Adresse mail</label>
                                <input type="email" id="email" name="email" class="email" required value="{{ form_data.get('email', '') }}">
                            </div>

                            <div class="form-group">
                                <label for="phone">Numéro de téléphone</label>
                                <input type="tel" id="phone" name="phone" required value="{{ form_data.get('phone', '') }}">
                            </div>
                        </div>
                        <div class="adressePostal">
                            <h2>Adresse postale</h2>
                        
                            <div class="form-placement form-row">
                                
                                <div class="form-group">
                                    <label for="street">Rue</label>
                                    <input type="text" id="street" name="street" value="{{ form_data.get('street', '') }}">
                                </div>

                                <div class="form-group">
                                    <label for="postal-code">Code postale</label>
                                    <input type="text" id="postal-code" name="postal-code" value="{{ form_data.get('postal-code', '') }}">
                                </div>

                                <div class="form-group">
                                    <label for="city">Ville</label>
                                    <input type="text" id="city" name="city" value="{{ form_data.get('city', '') }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-placement form-row">
                            <div class="form-group">
                                <label for="fonction">Fonction</label>
                                <select id="fonction" name="fonction">
                                    <option value=""></option>
                                    <option value="reception" {% if form_data.get('fonction') == 'reception' %}selected{% endif %}>Réceptionniste</option>
                                    <option value="service" {% if form_data.get('fonction') == 'service' %}selected{% endif %}>Serveur</option>
                                    <option value="chef" {% if form_data.get('fonction') == 'chef' %}selected{% endif %}>Chef de cuisine</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="date-ajout">Date de naissance</label>
                                <input type="date" id="date-ajout" name="date-ajout" value="{{ form_data.get('date-ajout', '') }}">
                            </div>

                            <div class="form-group">
                                <label for="siret">SIRET</label>
                                <input type="text" id="siret" name="siret" value="{{ form_data.get('siret', '') }}">
                            </div>
                        </div>
                        <div class="form-placement form-row">
                            <div class="form-group password-section">
                                <label for="new-password">Mot de passe</label>
                                    <input type="password" id="new-password" name="new-password" placeholder="Nouveau mot de passe" required>
                                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmer mot de passe" required>
                            </div>
                            <div class="form-group role-section">
                                <label for="role">Rôle</label>
                                <select id="role" name="role" required>
                                    {% for role in UserRole %}
                                        <option value="{{ role.value }}" {% if form_data.get('role') == role.value %}selected{% endif %}>
                                            {{ role.name | capitalize }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-buttons">
                            <button type="submit" class="save-btn">Enregistrer</button>
                        </div>
                    </form>
                </section>
                <!-- Ton tableau ou autres contenus ici -->
            </main>
        </div>
    </div>
    
    <!-- Par exemple, insérez ce bloc juste avant la fermeture de la balise </body> -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script>
        {% for category, message in messages %}
        // Vous pouvez personnaliser le comportement en fonction de la catégorie
        alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
    {% endwith %}
</body>

</html>